.version.index /* version checker */
{
	color: #0000F7;
	background-color: #44E865;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 266px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 234px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u102-6
{
	z-index: 2;
	width: 480px;
	min-height: 169px;
	background-color: transparent;
	text-align: center;
	letter-spacing: 10px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
	margin-left: 50%;
	left: -235px;
}

#u102-2
{
	font-size: 72px;
	line-height: 86px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 900;
}

#u102-4
{
	font-size: 30px;
	line-height: 36px;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
}

#u118-8
{
	z-index: 8;
	min-height: 25px;
	background-color: transparent;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
	filter: alpha(opacity=35);
	color: #7F7F7F;
	font-family: brandon-grotesque, sans-serif;
	font-weight: 500;
	position: fixed;
	bottom: 0px;
	right: 3px;
	width: 19.8%;
	max-width: 190px;
}

#u118-3
{
	color: #FFFFFF;
}

.html
{
	background: #FFFFFF url("../images/5670386404_eb7580f61a_o.jpg") no-repeat center center scroll;
	background-size: cover;
}

body
{
	position: relative;
	min-width: 320px;
}


